{{#if products}}
  {{#each products}}
    <li class="order-list_item">
      <img class="order-list_img" src={{img}} width="90" height="90" />
      <div>
        <p class="order-list_title">{{productName}}</p>
        <p class="order-list_cat">{{category}}</p>
        {{#if isOnSale}}
          <p class="order-list_price">${{#priceCounter
              price
              salePercentage
            }}{{/priceCounter}}
          </p>
        {{else}}
          <p class="order-list_price">${{price}}</p>
        {{/if}}
      </div>
    </li>
  {{/each}}
  <h3 class="order_form-title">Total price of your order</h3>
  <p class="order-list_total-price">${{#totalPriceCounter
      products
    }}{{/totalPriceCounter}}</p>
{{else}}
  <li class="order-list_item">
    Your cart is empty! Chose what you want to order</li>
{{/if}}