{{#each products}}
  <li class="products_item">
    <a href="/shop/{{_id}}" class="link products_link">
      <img src={{img}} class="products_image" alt="product" />
      <h3 class="products_title">{{productName}}</h3>
      {{#if bestSeller}}
        <div class="products_bs">
          {{>star}}
          <p class="products_bs-title">best-seller</p>
        </div>
      {{/if}}
      <p class="products_category">{{category}}</p>
      {{#if isOnSale}}
        <p class="products_sale">{{salePercentage}}% sale!</p>
        <p style="text-align: center;">
          <span
            class="products_price products_price-old"
            style="text-decoration:line-through; color:grey;"
          >${{price}}</span>
          <span class="products_price">${{#priceCounter
              price
              salePercentage
            }}{{/priceCounter}}</span></p>
      {{else}}
        <p class="products_price">${{price}}</p>
      {{/if}}
    </a>
    <button class="products_buy-btn" dataId={{_id}}>BUY</button>
  </li>
{{/each}}