<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles.css" />

    <title>CraftStudio</title>
  </head>
  <body>

    {{>header}}
    {{>navigation}}

    <section class="hero container">
      <div class="owl-carousel owl-theme carousel">
        {{#each products}}
          <div
            class="carousel-item"
            style="background-image: url({{img}}); width: 600px;"
          >
            <p class="hero-sub">{{category}}</p>
            <h1 class="hero-title">{{productName}}</h1>

            {{#if isOnSale}}
              <p class="products_sale">{{salePercentage}}% sale!</p>
              <p style="text-align: center;">
                <span
                  class="products_price products_price-old"
                  style="text-decoration:line-through; color:grey;"
                >${{price}}</span>
                <span class="products_price">${{#priceCounter
                    price
                    salePercentage
                  }}{{/priceCounter}}</span></p>
            {{else}}
              <p class="products_price">${{price}}</p>
            {{/if}}
            <button type="button" class="carousel-item_btn">add</button>
          </div>
        {{/each}}
      </div>

      <div class="hero_about">
        <p class="hero_about-title">About us</p>
        <p class="hero_about-text">Sed ut perspiciatis unde omnis iste natus
          error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
          architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
          voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
          consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
          consectetur, adipisci velit, sed quia non numquam eius modi tempora
          incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut
          enim ad minima veniam, quis nostrum exercitationem ullam corporis
          suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
          autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
          nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
          voluptas nulla pariatur?</p>
        <ul class="list socials-list">
          <li class="socials-item">
            {{>facebook}}
          </li>
          <li class="socials-item">
            {{>twitter}}
          </li>
          <li class="socials-item">
            {{>instagram}}
          </li>
          <li class="socials-item">
            {{>youtube}}
          </li>
        </ul>
      </div>
    </section>

    <section class="new-dishes container">
      <h2 class="new-dishes_title">New Dishes</h2>
      <ul class="new-dishes_card-list list">
        {{#each products}}
          <li class="new-dishes_card-item">
            <a href="/shop/{{_id}}" class="link new-dishes_cart">
              <div
                class="new-dishes_card-picture"
                style="background-image: url({{img}});"
              >
                <button style="z-index: 3;" class="new-dishes_cart-btn">
                  {{>bag}}
                  <span class="new-dishes_cart-btn-add ">Add</span>
                </button>
              </div>

              <h3 class="new-dishes_card-title">{{productName}}</h3>
              <p class="new-dishes_card-price">{{price}}$</p>
            </a>
          </li>
        {{/each}}
      </ul>
    </section>

    <section class="container deals">
      <div class="deals--left">
        <h2 class="deals-title">Deals of the week</h2>
        <div class="/">
        {{#each bestDeals}}
        <div class="deals--left_card">

        <div>
          <div style="background-image: url({{img}});" class="deals--left_card-img"></div>

          <div class="deals--left_card--down">
            <div>
              <h3 class="deals--left_card-title">{{productName}}</h3>
                <div class="products_bs">
         {{>star}}
          <p class="products_bs-title">best-seller</p>
        </div>
              <p class="products_sale">{{salePercentage}}% sale!</p>
        <p style="text-align: center;">
          <span
            class="products_price products_price-old"
            style="text-decoration:line-through; color:grey;"
          >${{price}}</span>
          <span class="products_price">${{#priceCounter
              price
              salePercentage
            }}{{/priceCounter}}</span></p>
      {{else}}
        <p class="products_price">${{price}}</p>
            </div>
            {{>bag}}
          </div>

        </div>
        
        </div>
        {{/each}}

     </div>

      <div class="deals--right">
        <div class="deals--right_header">
          <h2 class="deals-title">Feature Dishes</h2>
        </div>

        <ul class="deals--right_card-list list">
          {{#each onSale}}
            <li class="deals--right_card-item">
              <div
                class="deals--right_img"
                style="background-image: url({{img}});"
              ></div>
              <div>
                <h3 class="deals--right-title">{{productName}}</h3>
                <p class="deals--right-price">{{price}} $</p>
                <p>{{isOnSale}} {{salePercentage}}% off </p>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </section>

    <section class="categories container">
      <a class="link" href="/categories"><h3 class="categories_title">Shop By Categories</h3></a>
      <ul class="categories_list list">
       {{#each categories}}
        <li class="categories_item">
          <a href="/categories/{{name}}" class="link">
          <div style="background-image:url({{img}});" class="categories_img">
            <p class="categories_btn">{{name}}</p>
          </div>
          </a>
        </li>
       {{/each}}
      </ul>
    </section>

    <section class="best-seller container">
      <h3 class="best-seller_title">Best Seller</h3>

      <ul class="best-seller_card-list list">
        {{#each bestSellers}}
          <li class="best-seller_card-item" style="position: relative;">
            <a href="/shop/{{_id}}" class="link">
             <img src={{img}} class="best-seller_img" alt="product-img" />
             <h3 class="best-seller_card-title">{{productName}}</h3>
             <p class="best-seller_card-price">{{price}}$</p>
             <div class="products_bs">
             {{>star}}
             <p class="products_bs-title">best-seller</p>
             </div>
            </a>
          </li>
        {{/each}}
      </ul>
    </section>

    <section class="reviews container">
      <h3 class="reviews_title">What people say?</h3>

      <div class="owl-carousel owl-theme">
        <div class="reviews_item">
          <p class="reviews_text">
            Yesterday I received my first box. I was very impressed by the
            freshness of the produce. I had tried (another delivery service) and
            had to cancel because of low quality.
          </p>
          <p class="reviews_author">Sonya Sahny</p>
        </div>
        <div class="reviews_item">
          <p class="reviews_text">
            Yesterday I received my first box. I was very impressed by the
            freshness of the produce. I had tried (another delivery service) and
            had to cancel because of low quality.
          </p>
          <p class="reviews_author">Sonya Sahny</p>
        </div>
        <div class="reviews_item">
          <p class="reviews_text">
            Yesterday I received my first box. I was very impressed by the
            freshness of the produce. I had tried (another delivery service) and
            had to cancel because of low quality.
          </p>
          <p class="reviews_author">Sonya Sahny</p>
        </div>
      </div>

    </section>

    <section class="container news">
      <h2 class="news_title">Latest News</h2>
      <ul class="news_cards-list list">
        <li class="news_card-item">
          <div class="news_card-img"></div>
          <p class="news_card-sub-title">VEGAN</p>
          <h3 class="news_card-title">Heirloom Bean and Mushroom “Carnitas”
            Casserole</h3>
          <p class="news_card-date">
            {{>calendar}}
            jan 23
          </p>
        </li>
        <li class="news_card-item">
          <div class="news_card-img"></div>
          <p class="news_card-sub-title">VEGAN</p>
          <h3 class="news_card-title">
            Heirloom Bean and Mushroom “Carnitas” Casserole
          </h3>
          <p class="news_card-date">
            {{>calendar}}
            jan 23
          </p>
        </li>
        <li class="news_card-item">
          <div class="news_card-img"></div>
          <p class="news_card-sub-title">VEGAN</p>
          <h3 class="news_card-title">
            Heirloom Bean and Mushroom “Carnitas” Casserole
          </h3>
          <p class="news_card-date">
            {{>calendar}}
            jan 23
          </p>
        </li>
        <li class="news_card-item">
          <div class="news_card-img"></div>
          <p class="news_card-sub-title">VEGAN</p>
          <h3 class="news_card-title">
            Heirloom Bean and Mushroom “Carnitas” Casserole
          </h3>
          <p class="news_card-date">
            {{>calendar}}
            jan 23
          </p>
        </li>
      </ul>
    </section>

    {{>footer}}
    {{>rights}}       

    <script src="./js/jquery.min.js"></script>
    <script src="./js/owl.carousel.min.js"></script>
    <script src="./bundle.js"></script>
    <script src="./js/cart.js"></script>

  </body>
</html>