<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />

    <title>CraftStudio</title>
  </head>
  <body>
    {{>header}}
    {{>navigation categories=categories}}

    <section class="container pdp">
      <div>
        <h1 class="pdp_title">{{product.productName}}<p
            class="pdp_cat"
          >{{product.category}}</p></h1>
        {{#if product.bestSeller}}
          <div class="pdp_bs">
            {{>star}}
            <p class="pdp_bs-title">best-seller</p>
          </div>
        {{/if}}
          <p class="pdp_desc">{{product.description}}</p>
       </div>
      <img class="pdp_img" src={{product.img}} alt="img" />
      {{#if product.isOnSale}}
        <p class="pdp_sale">
          {{product.salePercentage}}% sale!
        </p>
      {{/if}}
    </section>
    <div class="pdp--down container">
      <div style="display: flex;">
        {{#if product.isOnSale}}
          <p
            class="pdp_price pdp_price--old"
            style="text-decoration:line-through;"
          >${{product.price}}
          </p>
          <p class="pdp_price">${{#priceCounter
              product.price
              product.salePercentage
            }}{{/priceCounter}}
          </p>
        {{else}}
          <p class="pdp_price">${{product.price}}</p>
        {{/if}}
      </div>
      <button
        class="products_buy-btn pdp_buy-btn"
        dataId={{product._id}}
      >BUY</button>
    </div>
    {{>footer}}
    {{>rights}}
    <script src="/js/cart.js"></script>
  </body>
</html>